body {
    display:flex;
    align-items: center; /*<--vertical center--  */
    justify-content: center; /*<--horizontal center--  */
    min-height:100vh;
  }

#app {
    display:flex;
    border: 10px solid black;
    width: 1024px;
    height:768px;
    font-size: 1.5rem;
}
  

.box {
    border:4px red dashed;
}

.gray{
    width: 200px;
    height:200px;
    background-color: gray;
}
.green{
    width: 200px;
    height:200px;
    background-color: rgb(111, 185, 111);
}
.blue{
    width: 200px;
    height:200px;
    background-color: rgb(77, 185, 212);
}



