body {
    margin: 10px;
    border: red 1px solid;
  }
  
.box {
display: block;
}

.gray{
    width: 200px;
    height:200px;
    background-color: gray;
}
.green{
    width: 200px;
    height:200px;
    background-color: green;
}
.blue{
    width: 200px;
    height:200px;
    background-color: blue;
}