
body{
    display:block;
    padding:2px;
    background-color:gray;
}

.gameViewBorder {
    border:2px solid rgb(85, 85, 85);
}

#container{
    display: block;
    width: 75vw;
    max-width: 177.78vh;
    /* 16/9 = 1.778 */
    height: 56.25vw;
    /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    margin:auto;
}

text {
    font-size:0.1rem;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

svg{
    background-color:rgb(238, 238, 238);
}
html{
    height:100%;
}
#gameMenu{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: '#70bg32';
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, rgb(124, 124, 168), rgb(58, 153, 170)); 
    background: -moz-linear-gradient( to left top, rgb(124, 124, 168), rgb(58, 153, 170)); 
    background: -ms-linear-gradient( to left top, rgb(124, 124, 168), rgb(58, 153, 170)); 
    background: -o-linear-gradient( to left top, rgb(124, 124, 168), rgb(58, 153, 170)); 
    background: linear-gradient( to left top, rgb(124, 124, 168), rgb(58, 153, 170)); 
}
.menuStyle{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuStyle p {
    font-size: 3rem;
    color:white;
    margin:0.7rem;
}
button {
    background-color: rgb(129, 172, 60); /* Green */
    border-radius: 5px;
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin-top: 3rem;
}
.dropShadow {
    box-shadow: 0px 10px 10px rgb(81, 82, 81);
}
.textShadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}
